@{
    ViewData["Title"] = "About";
}

<!--header part end here-->
<!--banner part start here-->
<div class="banner">
    <div class="mid">
        <h1>DONATE THE BLOOD....</h1>
        <p id="text"></p>
        <div class="form">
            <form action="">
            </form>
        </div>
        <div class="link">
            <a href="/register">REGISTER TO JOIN US</a>
        </div>
    </div>
</div>
<!--banner part end here-->
<!--card part start here-->
<div class="card">
    <div class="mid">
        <div class="Donor">
            <h1>OUR MISSION</h1>
            <img src="~/WebsiteImages/S4.jpg" alt="">

            <h5>
                To make the best use of contemporary technologies in delivering a promising web portal to bring
                together all the blood donors in India; thereby fulfilling every blood request in the country.
                To provide a common platform for those who have a zeal to support education of the under resourced
                yet meritorious students.
            </h5>


        </div>
        <div class="Donor">
            <h1>OUR VISSION</h1>
            <img src="~/WebsiteImages/s3.jpg" alt="">

            <h5>
                To pave way for a safer and better tommorrow.

                Safer, by bringing blood donors and those in need to a common platform.
                Better, by providing every person what he/she deserves the most, best education.
                Our aim in next 5 years,To be the real hope of every Indian in search of a voluntary blood donor.
            </h5>


        </div>
        <div class="Donor">
            <h1>OUR GOAL</h1>
            <img src="~/WebsiteImages/s2.jpg" alt="">

            <h5>
                To wipe off the scarcity of blood and ensure availability of safe and quality blood and other blood
                components, round the clock and throughout the year. This will lead to alleviation of human
                sufferings, even to the far-flung remote areas in the country.
                Values :
                team work,
                Compassion,
                Trust,
                Oblige,
                Network
            </h5>
        </div>
    </div>
</div>

