@{
    ViewData["Title"] = "Group Member";
}

<!--membar part start here-->
@* <div class="member">
    <div class="mid">
        <h1>MEMBER OF THE ORGANIZATION</h1>
        <div class="president">
            <div class="pres">
                <img src="~/WebsiteImages/I0.png" alt="">
                <h4>PANKAJ MISHRA</h4>
                <p>PRESIDENT</p>
                <span>BLOOD GROUP: A+</span>
                <span>PHONE NUMBER: 012373748</span>
                <div class="links">
                    <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                    <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                </div>
            </div>
            <div class="member1">
                <div class="mem1">
                    <img src="~/WebsiteImages/I5.jpg" alt="">
                    <h4>AMISHA SINGH</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: O-</span>
                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I5.jpg" alt="">
                    <h4>MANOJ JAISWAL</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: A-</span>
                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I3.jpg" alt="">
                    <h4>ANTARIX KHANTWAL</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: B-</span>
                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I5.jpg" alt="">
                    <h4>PARUL SHARMA</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: B+</span>

                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I5.jpg" alt="">
                    <h4>SALONI MITTAL</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: AB+</span>

                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I1.jpg" alt="">
                    <h4>ANURAG SHARMA</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: AB+</span>

                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="I5.jpg" alt="">
                    <h4>SHIVANI MISHRA</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP: O-</span>

                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
                <div class="mem1">
                    <img src="~/WebsiteImages/I1.jpg" alt="">
                    <h4>NIKHIL MESSY</h4>
                    <p>GROUP MEMBER</p>
                    <span>BLOOD GROUP AB-</span>

                    <div class="links">
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> *@


<div class="container organisationMember">
    <h1>MEMBER OF THE ORGANIZATION</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card"> 
                <img src="~/WebsiteImages/I0.png" class="card-img-top" alt="Error">
                <div class="card-body">
                    <h4 class="card-title">PANKAJ MISHRA</h4>
                    <p class="mb-0">PRESIDENT</p>
                    <span>BLOOD GROUP: A+</span>
                    <span>PHONE NUMBER: 012373748</span>
                    <div>
                        <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                        <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>

        @* GROUP MEMEBERS *@

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">
                    <div class="card" style="padding-bottom:0px;">
                        <img src="~/WebsiteImages/I5.jpg" class="card-img-top w-50 h-50 mx-auto d-block" alt="Error">
                        <div class="card-body">
                            <h5 class="card-title text-center">AMISHA SINGH</h5>
                            <p>GROUP MEMBER</p>
                            <span>BLOOD GROUP: O-</span>
                            <div class="links">
                                <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="padding-bottom:0px;">
                        <img src="~/WebsiteImages/I5.jpg" class="card-img-top w-50 h-50 mx-auto d-block" alt="Error">
                        <div class="card-body">
                            <h5 class="card-title text-center">AMISHA SINGH</h5>
                            <p>GROUP MEMBER</p>
                            <span>BLOOD GROUP: O-</span>
                            <div class="links">
                                <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="padding-bottom:0px;">
                        <img src="~/WebsiteImages/I5.jpg" class="card-img-top w-50 h-50 mx-auto d-block" alt="Error">
                        <div class="card-body">
                            <h5 class="card-title text-center">AMISHA SINGH</h5>
                            <p>GROUP MEMBER</p>
                            <span>BLOOD GROUP: O-</span>
                            <div class="links">
                                <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="padding-bottom:0px;">
                        <img src="~/WebsiteImages/I5.jpg" class="card-img-top w-50 h-50 mx-auto d-block" alt="Error">
                        <div class="card-body">
                            <h5 class="card-title text-center">AMISHA SINGH</h5>
                            <p>GROUP MEMBER</p>
                            <span>BLOOD GROUP: O-</span>
                            <div class="links">
                                <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="padding-bottom:0px;">
                        <img src="~/WebsiteImages/I5.jpg" class="card-img-top w-50 h-50 mx-auto d-block" alt="Error">
                        <div class="card-body">
                            <h5 class="card-title text-center">AMISHA SINGH</h5>
                            <p>GROUP MEMBER</p>
                            <span>BLOOD GROUP: O-</span>
                            <div class="links">
                                <a href="#"><i class="fa-brands  fa-facebook"></i></a>
                                <a href="#"><i class="fa-brands  fa-twitter"></i></a>
                                <a href="#"><i class="fa-brands  fa-linkedin"></i></a>
                                <a href="#"><i class="fa-brands  fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--membar part end here-->