
@{
    ViewData["Title"] = "Index";
}

<!--banner part start here-->
<div class="banner">
    <div class="mid">
        <h1>DONATE THE BLOOD....</h1>
        <p id="text"></p>
        <div class="form">
            <form action="">
            </form>
        </div>
        <div class="link">
            <a asp-action="Register" asp-controller="Home">REGISTER TO JOIN US</a>
        </div>
    </div>
</div>
<!--banner part end here-->

<!--card part start here-->
<div class="card">
    <div class="mid">
        <div class="Donor">
            <h1>THE LATEST BLOOD DONOR</h1>
            <img src="~/WebsiteImages/I1.jpg" alt="">
            <h2>
                ABC
            </h2>
            <span>BLOOD GROUP: AB-></span>
        </div>
        <div class="Donor">
            <h1>THE LATEST BLOOD DONOR</h1>
            <img src="~/WebsiteImages/I7.jpg" alt="">
            <h2>
                ABC
            </h2>
            <span>BLOOD GROUP: O-</span>
        </div>
        <div class="Donor">
            <h1>THE LATEST BLOOD DONOR</h1>
            <img src="~/WebsiteImages/I3.jpg" alt="">
            <h2>
                ABC
            </h2>
            <span>BLOOD GROUP: AB+</span>
        </div>
    </div>
</div>
<!--card part end here-->

<!--table part start here-->
<div class="table">
    <div class="mid">
        <h1>LIST OF LATEST BLOOD DONOR</h1>
        <h3>BLOOD GROUP: O+</h3>
        <table class="border">
            <thead>
                <tr>
                    <th>S.NO.</th>
                    <th>NAME</th>
                    <th>DATE OF BIRTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Abc
                    </td>
                    <td>
                        12-12-2000
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>BLOOD GROUP: AB+</h3>
        <table class="border">
            <thead>
                <tr>
                    <th>S.NO.</th>
                    <th>NAME</th>
                    <th>DATE OF BIRTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Abc
                    </td>
                    <td>
                        12-12-2000
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>BLOOD GROUP: B+</h3>
        <table class="border">
            <thead>
                <tr>
                    <th>S.NO.</th>
                    <th>NAME</th>
                    <th>DATE OF BIRTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Abc
                    </td>
                    <td>
                        12-12-2000
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>BLOOD GROUP: A+</h3>
        <table class="border">
            <thead>
                <tr>
                    <th>S.NO.</th>
                    <th>NAME</th>
                    <th>DATE OF BIRTH</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Abc
                    </td>
                    <td>
                        12-12-2000
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--table part end here-->