@model DonorLoginDetails

@{
	ViewData["Title"] = "Login";
}

<!--login part start here-->
<div class="login">
	<div class="mid">
		<h2>LOGIN</h2>
		<form asp-action="Login" asp-controller="Home" method="post">

			<label asp-for="DonorEmail"></label>
			<input asp-for="DonorEmail" placeholder="EMAIL">
			<span asp-validation-for="DonorEmail"></span>

			<label asp-for="DonorPassword"></label>
			<input asp-for="DonorPassword" placeholder="PASSWORD">
			<span asp-validation-for="DonorPassword"></span>

			<input type="submit" value="LOGIN">

			<a>Forgot Passowrd?</a>
		</form>
	</div>
</div>
<!--login part end here-->
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}