@{
    ViewData["Title"] = "Organisation";
}

<!--organized part start here-->
@* <div class="org">
	<h2>Associate organizations:</h2>
	<div class="mid">
		<a href="https://www.aiimsexams.ac.in/">
			<div class="org1">
				<h3>AIIMS HOSPITAL</h3>
				<p>DELHI, SOUTHEX</p>
				<span>0173847657</span>
			</div>
		</a>

		<a href="https://www.khushiyan.org/">
			<div class="org1">
				<h3>KHUSHIYAA ASSOC.</h3>
				<p>MUMBAI, GORE GAU</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.reliancefoundation.org/">
			<div class="org1">
				<h3>RELIANCE FOUND.</h3>
				<p>DELHI, GURGAUN</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://cityhospitalonline.com/">
			<div class="org1">
				<h3>CITY HOSPITAL</h3>
				<p>MUMBAI</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://alfalahmedical.org/">
			<div class="org1">
				<h3>ALFLA UNIVERSITY</h3>
				<p>DELHI, ROHINI</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="http://www.ipu.ac.in/">
			<div class="org1">
				<h3>IPU UNIVERSITY</h3>
				<p>DELHI, DWARKA</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://inrdeals.com/service-center/oneplus-mobile-phones/punjab">
			<div class="org1">
				<h3>1+ service center</h3>
				<p>PUNJAB,MOHALI</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="http://www.du.ac.in/index.php?page=Delhi-University-Women-Association-DUWA">
			<div class="org1">
				<h3>DU WOMEN ASSOC.</h3>
				<p>GUJRAT, SURAT</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.aap.com.au/">
			<div class="org1">
				<h3>AAP ASSOC. press</h3>
				<p>DELHI, UTTAM NAGAR</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://collegedunia.com/university/25383-university-of-hyderabad-uoh-hyderabad">
			<div class="org1">
				<h3>ENG. COLLEGE</h3>
				<p>HYDRABAD, TELANGANA</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.justdial.com/Delhi/City-Hospital-Karol-Bagh/011PXX11-XX11-170127200201-A1H9_BZDET">
			<div class="org1">
				<h3>CITY HOSPITAL</h3>
				<p>Delhi, Karol bagh</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.asha.org/">
			<div class="org1">
				<h3>ASHA ASSOCIATE</h3>
				<p>HIMACHAL PARDESH</p>
				<span>0173847657</span>
			</div>
		</a>
	</div>
</div> *@

<div class="container">
	<div class="row">
		<a href="https://www.aiimsexams.ac.in/" class="col-md-3">
			<div class="org1">
				<h3>AIIMS HOSPITAL</h3>
				<p>DELHI, SOUTHEX</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.khushiyan.org/" class="col-md-3">
			<div class="org1">
				<h3>KHUSHIYAA ASSOC.</h3>
				<p>MUMBAI, GORE GAU</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.reliancefoundation.org/" class="col-md-3">
			<div class="org1">
				<h3>RELIANCE FOUND.</h3>
				<p>DELHI, GURGAUN</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://cityhospitalonline.com/" class="col-md-3">
			<div class="org1">
				<h3>CITY HOSPITAL</h3>
				<p>MUMBAI</p>
				<span>0173847657</span>
			</div>
		</a>
		<a href="https://www.aiimsexams.ac.in/" class="col-md-3">
			<div class="org1">
				<h3>AIIMS HOSPITAL</h3>
				<p>DELHI, SOUTHEX</p>
				<span>0173847657</span>
			</div>
		</a>
	</div>
</div>
<!--organized part end here-->